*.py[cod]
*.ipynb_checkpoints
__pycache__
*.pt
*.pth
*.png
*.jpeg
*.jpg
*.tar
**/Ensemble_results/*
**/MCdrop_results/*
**/BBP_results/*
**/DUQ/runs/*
**/LearningConfidence/logs/*
**/DeepEnsembles/result_files/*
**/MCDropout/result_files/*
**/BayesByBackprop/result_files/*
**/Mahalanobis/train_results/*
**/Mahalanobis/output/*
**/DUQ/result_files/*
**/DUQ/ENS/result_files/*
**/LearningConfidence/result_files/*
**/DeepEnsembles/*.sh
**/MCDropout/*.sh
**/BayesByBackprop/*.sh
**/Mahalanobis/*.sh
**/DUQ/*.sh
**/LearningConfidence/*.sh
**/Integration/*.sh
**/Integration/**/*.npz